.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: black
}

.App-header {
  background-color: #282c34;
  padding: 20px;
}

h1,h2 {
  color: #333;
}

section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

#about-me {
  background-color: #f9f9f9;
}

#resume {
  background-color: #f4f4f4;
  text-align: left;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}


.contact-section{
  padding: 20px;
  background-color: #e4e4e4;
  text-align: left;
}

#projects{
  background-color: #f4f4f4;
  text-align: left;
}


.contact-heading {
  margin-bottom: 15px;
}

.contact-paragraph {
  line-height: 1.6;
  font-size: 16px; 
}

.contact-links a{
  margin-right: 10px;
  text-decoration: none;
}