.App {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  color: black
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: blue
}


header {
  text-align: center;
  background-color: #c0c0c0;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #000;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

header h2 {
  font-size: 20px;
  margin: 10px 0 0;
  font-weight: normal;
  color: #333;
}


h1,h2 {
  color: #333;
}

section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

#about-me {
  background-color: #f9f9f9;
}

#resume {
  background-color: #f4f4f4;
  text-align: left;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}


.contact-section{
  padding: 20px;
  background-color: white;
  text-align: left;
}

#projects{
  background-color: #f4f4f4;
  text-align: left;
}


.contact-heading {
  margin-bottom: 15px;
  background-color: white;
}

.contact-paragraph {
  line-height: 1.6;
  font-size: 16px; 
  background-color: white;
}

.contact-links a{
  margin-right: 10px;
  text-decoration: none;
}


footer {
  text-align: center;
  background-color: #c0c0c0;
  padding: 5px;
  margin-top: 20px;
  border-top: 3px solid #000;
  font-size: 15px;
}